requests
click==6.6
eventlet==0.17.4
gevent==1.2.2
Flask==0.12.2
Flask-SocketIO==2.9.2
Flask-WTF==0.14.2
greenlet==0.4.2
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
Werkzeug==0.11.10
WTForms==2.1
pymongo>=3.5.1
python-engineio==1.7.0
python-socketio==1.8.0
six==1.10.0
pandas==0.19.2
numpy>=1.12.1
cf-deployment-tracker==1.0.2
