Bonus is the main compensation for this tasks because we hope you comeback for more tasks with great performance!
There are several very easy ways to gain bonus for this tasks.
- Make sure the agent look up for the right information for you by expressing yourself clearly.
  - Provide the agents information based on your "rental starter", if we identify the agent issues the right query and find the results, we add bonus.
- If the agent is not helpful, end the task and provide feedbacks.
- You will receive a bonus after signing up a time slot
- We will send you a report how you receive your bonus.


Every time your job is accepted, your next job will receive 10% more over entire bonus.
The rules are subjective to minor changes.
