<html>
<head>
<link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="container">
    <div class="section">
      <!--
      <div><h5>Overview</h5></div>
      [[overview]]
      -->
      <div class="teal-text"><h5>Task Descriptions</h5></div>
      {{instruction_offline}}
      <div class="teal-text"><h5>How to do a good job?</h5></div>
      {{tips}}
      <div class="row left-align">
        <div class="col s6">
          {{example_good}}
        </div>
        <div class="col s6">
          {{example_bad}}
        </div>
      </div>
    </div>
  </div>
</body>
</html>
