<blockquote>This task invites you to play the role of a user of <b>a chat service</b> to search for a rental apartment in New York City.
  The goal is finding the possible rentals based on your preferences (e.g., location/neighborhood, rental rate, number of bedrooms etc.).
  Imagine that you will be assisted by an agent.
  <b class="green-text">You only need to contribute one turn (one or multiple messages) based on the context.</b>
  Please see detailed instructions below.
</blockquote>
<!--
<div>
  <b>Bonus</b> is the primary compensation for this job because we hope to interest you in the future tasks!
  There are several very easy ways to gain more bonus.
  <ol>
    <li>Type proper sentences: English only; avoid typos or uncommon slangs. </li>
    <li>Make sure the "agent" look up for the right information for you by expressing yourself clearly.</li>
    <li>In case the "agent" is not reasonably responsible, please end the task and provide us your feedback.</li>
    <li>The more accepted jobs, the more you would be rewarded per job.</li>
  </ol>
</div>
<div class="lime darken-4 white-text">There is a chance that it takes some time for the other user to join you. You will only need to wait upto 2 mins and your time will be compensated.</div>
-->