<blockquote>In this task, you will play a role as an <u>online agent</u>
  to chat (English only) with a role-playing renter to fulfill the task of apartment hunting in New York City. More importantly, you will work along an <span class="teal-text">Virtual Agent (VA)</span> and help improve <span class="teal-text">VA</span>. See more instructions below.
  Your contribution will be mostly to be rewarded if you, as the agent, <b>use the tools</b> included in this task when necessary and <b>addresses the essential information</b> (such as location or neighborhood, price or rent, number of bedrooms and bathrooms, transportation or subways) for finding the rental apartments that user prefers.
  <i>You may have to wait a few minutes for your chat partner to connect.</i> 
</blockquote>
