<div class="row">
  <div class="col">
    <ul>
      <li>There is a simple quiz for the first-time participants. It is mainly for preparing you for the task. After you login (or pass the quiz), you will see the chat interface. </li>
      <li>
        <div class="card">
          <div class="card-image">
            <img src="https://s3.amazonaws.com/crowdflower-make-cloud/images%2F1509395750642-user-ui-offline.png" alt="user-view"/>
            <!-- <img src="img/user_ui.png" alt="ui"/> -->
          </div>
        </div>
      </li>
    </ul>
    <ol>
      <li>Begin your task by typing in [1] and press enter to submit your message.(Please note there is a brief pause between typing by design.)</li>
      <li><span class="red-text">IMPORTANT</span> When you specify your initial preferences on the rental apartments, please use the criteria [2] (for quality-control purpose). You can adjust them through the conversation.</li>
      <li>You may consider ending the conversation, if
        <ol>
          <li>you have achieved your goal - possible options found. </li>
          <li>you have explored your options with the agent and the agent is not able to find an apartment meeting your criteria after 15+ utterances.</li>
        </ol>
      </li>
      <li><span class="red-text">IMPORTANT</span> Click [3] and obtain the confirmation code to complete the task via CrowdFlower interface. Otherwise, we cannot reward you.</li>
    </ol>
  </div>
</div>
