<blockquote>
  This task invites you to play the role of an <u>online agent</u>
  to chat with another role-playing user to fulfill the task of apartment hunting in New York City. You only need to contribute one message based on the conversation history.
  Please understand that your knowledge is limited by the results returned by the search tool. Please use the search tool to look up information whenever necessary and
  help adjust their requests to find best options possible.
</blockquote>

<!--
<div class='small lime-text text-darken-4' >
  <b>Bonus</b> is the primary compensation for this job because we hope to interest you in the future tasks!
  There are several very easy ways to gain more bonus.
  <ol>
    <li>Type proper sentences: English only; avoid typos or uncommon slangs. </li>
    <li>Make sure use the search tool whenever necessary. Your rental knowledge should be strictly based on the search results.</li>
    <li>Respond immediately once you are notified via the chat interface and the CrowdFlower dashboard. </li>
  </ol>
</div>
<div class="lime darken-4 white-text">There is a chance that it takes some time for the other user to join you. You will only need to wait upto 2 mins and your time will be compensated.</div>
-->