<div class="row s12">
  <table class="striped left-align" style="table-layout:fixed">
    <thead>
      <tr>
          <th><span class="blue-text">Do's</span></th>
          <th><span class="red-text">Dont's</span></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Please make your message relevant, succint and useful for finding a task. English only.</td>
        <td>Please do NOT involve uncommon slangs/typos, inconsequential conversations or any personal information. </td>
      </tr>
      <tr>
        <td>Please understand your pre-defined preferences and use your commonsense.</td>
        <td>Do NOT make out-of-scope requests.</td>
      </tr>
      <tr>
        <td>Please understand the service is limited. </td>
        <td>Please do not quit the task without exploring the service by the agent. </td>
      </tr>
    </tbody>
  </table>
</div>
