<div><div class="collection-header"><b>A <span class="blue-text">Good</span> Example</b></div><div class="collection-item"><b class="blue-text">YOU</b>: Hi, I am looking for rental apartment. </div>
<div class="collection-item"><b>agent</b>: Please tell me your preferences on location. </div>
<div class="collection-item"><b class="blue-text">YOU</b>: So, preferably midtown Manhattan or Brooklyn Heights. <span class="blue-text">(Giving preferences.)</span></div>
<div class="collection-item"><b>agent</b>: Good news. There are 20 apartments available in midtown Manhattan. </div>
<div class="collection-item"><b class="blue-text">YOU</b>: OK. </div>
<div class="collection-item"><b>agent</b>: What is your price range and how many bedrooms are you looking for? </div>
<div class="collection-item"><b class="blue-text">YOU</b>: one-bed, between $1500 and $2900. prefer big windows. <span class="blue-text">(Answering with additional preferences.)</span></div>
<div class="collection-item"><b>agent</b>: Sorry that we cannot search by "big windows". Now searching one-bedroom apartments for you between $1499 and $2999. </div>
<div class="collection-item"><b class="blue-text">YOU</b>: Oh OK. Good to know. </div>
<div class="collection-item"><b>agent</b>: Over 200 apartments in over 90 buildings. Do you have other preferences like subway lines or number of baths? </div>
<div class="collection-item"><b class="blue-text">YOU</b>: An apartment near line 2 would be great. <span class="blue-text">(Answering the agent with more information.)</span></div>
<div class="collection-item"><b>agent</b>: I think this one would be a good fit for you: 1600 BROADWAY, #3917 (Midtown, Manhattan) $2800; studio; 1 s, 592 square feet. </div>
<div class="collection-item"><b class="blue-text">YOU</b>: Actually I think I might want something a little cheaper than that. <span class="blue-text">(Asking the the agent for the options to your preference.)</span></div>
<div class="collection-item"><b>agent</b>: Okay, how about this one: 5 BRYANT PARK #2613 (Midtown, Manhattan) $2500; 1 beds; 1 bath </div>
<div class="collection-item"><b class="blue-text">YOU</b>: That looks great, thanks! <span class="blue-text">(Accepting an apartment.)</span></div>
<div class="collection-item"><b>agent</b>: You're welcome. Anything else I can help with? </div>
<div class="collection-item"><b>user</b>: Not now. Thanks. Bye! <span class="blue-text">(END THE CONVERSATION)</span></div>
</div>