<div class="row">
  <div class="col">
    <ul>
      <li>There is a simple quiz for the first-time participants. It is mainly for preparing you for the task. After you login (or pass the quiz), you will see the chat interface (left) and the search tool (right). </li>
      <li>  <div class="card">
          <div class="card-image">
            <img src="https://s3.amazonaws.com/crowdflower-make-cloud/images%2F1509417190321-agent-ui-offline.png" alt="login"/>
          <!-- <img src="img/ui-agent-woz.png" alt="ui"/> -->
          </div>
        </div>
      </li>
    </ul>
    <ol>
      <li>Review the chat history in area [1]. As shown in the example, you should be able to fill out the search form [2] with the current criteria
        (Please note that for certain field such as "neighborhood", you need to select from the auto-complete options). </li>
      <li>The search results show in two expandable parts,
        <ul>
          <li>the list of apartment info [3A] and the total of search results.</li>
          <li>some additional information [3B] to the search results, i.e., count by features.  </li>
        </ul>
      </li>
      <li>You can type your response in [4] and press <b>Enter</b> to submit chat.</li>
      <li>Please only end the conversation after confirming with the other user. </li>
      <li><span class="red-text">IMPORTANT</span> Click [6] and obtain the confirmation code to complete the task via CrowdFlower interface. Otherwise, we cannot reward you.</li>
    </ol>
  </div>
</div>
