<div><div class="collection-header"><b>A <span class="red-text">Bad</span> Example</b></div><div class="collection-item"><b class="blue-text">YOU</b>: Hi, where are you from? <span class="red-text">(Avoid random chitchat.)</span></div>
<div class="collection-item"><b>agent</b>: I'm from Michigan. How can I help you? </div>
<div class="collection-item"><b class="blue-text">YOU</b>: I am looking for rental apartment. </div>
<div class="collection-item"><b>agent</b>: Please tell me your preferences on location. </div>
<div class="collection-item"><b class="blue-text">YOU</b>: I like buildings with glass window <span class="red-text">(Please try to respond to agent's question.)</span></div>
<div class="collection-item"><b>agent</b>: What is your price range? </div>
<div class="collection-item"><b class="blue-text">YOU</b>: less than $100 <span class="red-text">(Please make your request base on the commonsense)</span></div>
<div class="collection-item"><b>agent</b>: There are no apartments in that price range but I can look for some other cheaper options. </div>
<div class="collection-item"><b class="blue-text">YOU</b>: Never mind then, bye! <span class="red-text">(Please adjust search criteria to explore other options.)</span></div>
</div>