<div><div class="collection-header"><b>A <span class="red-text">Bad</span> Example</b></div><div class="collection-item"><b>user</b>: Hi, I am looking for rental apartment. </div>
<div class="collection-item"><b class="blue-text">YOU</b>: Hey, how you doing? Where are you from? <span class="red-text">(Avoid unnecessary chitchat.)</span></div>
<div class="collection-item"><b>user</b>: I'm good, Michigan. </div>
<div class="collection-item"><b class="blue-text">YOU</b>: Please tell me your preferences on location and price range. </div>
<div class="collection-item"><b>user</b>: So, preferably midtown Manhattan or Brooklyn Heights and under $800 </div>
<div class="collection-item"><b class="blue-text">YOU</b>: There are no apartments that match those criteria. Sorry! I can't help you. <span class="red-text">(Please help modify search criteria to explore other options.)</span></div>
<div class="collection-item"><b>user</b>: Okay. Thanks, bye. </div>
</div>