<div class="row">
  <div class="col s10">
    <ol>
      <li>We have a simple quiz for the first-time participants. It is mainly for preparing you for the task.</li>
      <li>After you login (or pass the quiz), you will see the chat interface. Please wait briefly for the user to join you.</li>
      <li>Please start interacting with the user once you are notified via the chat interface and email.
        <div class="card">
        <div class="card-image">
          <img src="https://s3.amazonaws.com/crowdflower-make-cloud/images%2F1506305395825-ui-agent-mts.png" alt="login"/>
        <!--<img src="img/ui-agent-mts.png" alt="ui"/>-->
        </div>
      </div></li>
      <li>Everytime after user sends new content. Please click [2] to get the analysis results from VA. The analysis includes the response [4] and the value for the fields such as [6]. </li>
      <li>Please help correct VA's analysis by adding/removing/modifying form content, such as [6].</li>
      <li>Please help improve VA's natural language response when it doesn't help address user's intend. Edit or rewrite on [4], copy with [5] and paste to [1] to sent to the user. </li>
      <li>You can also use the form (Rental Information) to search for the apartments. Please note that for certain field such as "neighborhood", you need to select from the auto-complete options. </li>
      <!--
      <li>You will see the search results by clicking [3] to expand/collapse; and additional information [4]. </li>
    -->
      <li>Please only end the conversation after confirming with the other user. </li>
      <li>Please note that you need to click [5] to end the task.</li>
      <li>After you end the task, you will be provided a code to fill the blank at the very bottom of this page to complete the task.</li>
    </ol>
  </div>
</div>
