<div class="row">
  <div class="col">
    <ul>
      <li>There is a simple quiz for the first-time participants. It is mainly for preparing you for the task. After you login (or pass the quiz), you will see the chat interface (left) and the search tool (right). </li>
      <li>  <div class="card">
          <div class="card-image">
            <img src="https://s3.amazonaws.com/crowdflower-make-cloud/images%2F1509395741054-agent-ui-offline.png" alt="login"/>
          <!-- <img src="img/ui-agent-woz.png" alt="ui"/> -->
          </div>
        </div>
      </li>
    </ul>
    <ol>
      <li>Type your response in [1] and press <b>Enter</b> to submit chat.</li>
      <li>User the form [2] to search for the apartments. Please note that for certain field such as "neighborhood", you need to select from the auto-complete options. </li>
      <li>You will see the search results by clicking [3] to expand/collapse; and additional information [4]. </li>
      <li>Please only end the conversation after confirming with the other user. </li>
      <li><span class="red-text">IMPORTANT</span> Click [5] and obtain the confirmation code to complete the task via CrowdFlower interface. Otherwise, we cannot reward you.</li>
    </ol>
  </div>
</div>
