<div><div class="collection-header"><b>A <span class="blue-text">Good</span> Example</b></div><div class="collection-item"><b>user</b>: Hi, I am looking for rental apartment. </div>
<div class="collection-item"><b class="blue-text">YOU</b>: Hi! Please tell me your preferences on location. <span class="blue-text">(Asking for preferences.)</span></div>
<div class="collection-item"><b>user</b>: So, preferably midtown Manhattan or Brooklyn Heights. </div>
<div class="collection-item"><b class="blue-text">YOU</b>: Good news. There are 20 apartments available in midtown Manhattan. <span class="blue-text">(Use the search tool and share user the results.)</span></div>
<div class="collection-item"><b>user</b>: OK. </div>
<div class="collection-item"><b class="blue-text">YOU</b>: What is your price range and how many bedrooms are you looking for? <span class="blue-text">(Asking for additional preferences to narrow down the search.)</span></div>
<div class="collection-item"><b>user</b>: one-bed, between $1500 and $2900. prefer big windows. </div>
<div class="collection-item"><b class="blue-text">YOU</b>: Sorry that we cannot search by "big windows". Now searching one-bedroom apartments for you between $1499 and $2999. <span class="blue-text">(Telling the user what you can do.)</span></div>
<div class="collection-item"><b>user</b>: Oh OK thanks. </div>
<div class="collection-item"><b class="blue-text">YOU</b>: I think this one would be a good fit for you: 1600 BROADWAY, #3917 (Midtown, Manhattan) $2800; studio; 1 s, 592 square feet. <span class="blue-text">(Suggesting an apartment.)</span></div>
<div class="collection-item"><b>user</b>: Actually I think I might want something a little cheaper than that. </div>
<div class="collection-item"><b class="blue-text">YOU</b>: Okay, how about this one: 5 BRYANT PARK #2613 (Midtown, Manhattan) $2500; studio; 1 bath <span class="blue-text">(Adjusting to new information.)</span></div>
<div class="collection-item"><b>user</b>: That looks great, thanks! </div>
<div class="collection-item"><b class="blue-text">YOU</b>: You're welcome. Anything else I can help with! </div>
<div class="collection-item"><b>user</b>: Not now. Thanks. Bye! </div>
</div>