<div class="row center">
  <table class="striped left-align" style="table-layout:fixed">
    <thead>
      <tr>
          <th><span class="blue-text">Do's</span></th>
          <th><span class="red-text">Dont's</span></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Please use the search tool to look for the information based on user's intent.</td>
        <td>Do NOT forge information in your response to user.</td>
      </tr>
      <tr>
        <td>Please confirm or clarify with user about requests if necessary. </td>
        <td>When the request is not in task scope, e.g., "I prefer new building",
          please tell the user that the building year information is not available. </td>
      </tr>
      <tr>
        <td>Please explain why you suggest certain things if necessary.</td>
        <td>Don't change the search criteria without informing the user.</td>
      </tr>
      <tr>
        <td>Please make your response relevant, succint and useful to address the user' requests.</td>
        <td>Don't involve inconsequential conversations or any personal information.</td>
      </tr>
      <tr>
        <td>Try to have a conversation in the range of 10~15 utterances (if you say 5 lines and they say 5 lines that is 10 utterances total).</td>
        <td>Don't write a few lines and end the conversation.</td>
      </tr>
    </tbody>
  </table>
</div>
