{% block body %}
  <div class="lpadding">
    <table class="bordered mytable">
      <tbody class="mybody">
        {% if d_group %}
        <tr>
          <th> Features </th>
          <th> Count of apartments </th>
          {% for k, v in d_group.items() %}
          <tr>
            <td>{{k}}</td>
            <td>
            {% for k1,v1 in v %}
                <div>
                  <span>{{k1}}: </span>
                  <span>{{v1}}; </span>
                </div>
            {% endfor %}
            </td>
          </tr>
          {% endfor %}
        {% endif %}
        {% if lst_alter %}
        <tr>
          <th> Suggested Search </th>
          <th> Count of apartments </th>
          {% for filters, count, changed in lst_alter %}
            <tr>
              <td>
              {% for k1, v1 in filters %}
                  <div>
                    {% if k1 in changed %}
                      {% if k1 == 'price' %}
                        <b class="blue-text">{{k1}} <= {{v1}}</b>
                      {% else %}
                        <b class="blue-text">{{k1}}: {{v1}}</b>
                      {% endif %}

                    {% else %}
                      {% if k1 == 'price' %}
                        <span>{{k1}} <= {{v1}}</span>
                      {% else %}
                        <span>{{k1}} : {{v1}}</span>
                      {% endif %}
                    {% endif%}

                  </div>
              {% endfor %}
              </td>
              <td style="text-align:center">{{count}}</span></td>
            </tr>
          {% endfor %}
        {% endif %}
      </tbody>
    </table>
  </div>

{% endblock %}
