<html>
  <head>
    <base href="/">
    <title>Chat as {{role}}</title>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css" rel="stylesheet">
    <link href="{{url_for('static', filename='css/materialize-tags.css')}}" rel="stylesheet">

    <link href="http://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{url_for('static', filename='css/cp.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/app.css')}}" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- <script type="text/javascript" src="//code.jquery.com/jquery-1.6.2.min.js"></script> -->

    <script type="text/javascript" charset="utf-8">
        var use_message_turn = false;
        function set_message_turn(role) {
            var message_turn = document.getElementById('message_turn');
              if (role == 'agent')
                message_turn.innerHTML = 'instruction';
              else
                message_turn.innerHTML = 'canvas';
        }
        function get_message_turn() {
          var message_turn = document.getElementById('message_turn');
          return message_turn.innerHTML;
        }
        var socket;
        $(document).ready(function(){
            socket = io('http://' + document.domain + ':' + location.port + '/chat', {
              'forceNew':true,
              'reconnection': true,
              'reconnectionDelay': 100,
              'reconnectionDelayMax' : 5000,
              'reconnectionAttempts': Infinity,
              'transports': ['websocket']
            });
            socket.on('reconnect_attempt', () => {
              socket.io.opts.transports = ['polling', 'websocket'];
            });
            socket.on('connect', function(data) {
              socket.emit('joined', {});
            });
            socket.on('status', function(data) {
              if (use_message_turn) {
                set_message_turn(data.role);
              }
              Api.sendRequest(data.msg, data.role, data.mode);
            });
            socket.on('message', function(data) {
                if (data.role != "{{role}}") {
                  $.titleAlert("📈 New Message from " + data.role + '!', { requireBlur:false, stopOnFocus:true, duration:0, interval:500 });
                }
                if (use_message_turn) {
                  set_message_turn(data.role);
                }
                Api.sendRequest(data.msg, data.role, data.mode);
{#              var scrollingChat = document.querySelector('#scrollingChat');#}
{#              scrollingChat.scrollTop = 1000000;#}
            });
            socket.on('left', function(data) {
                socket.emit('left', {});
            });

            $('#textInput').keypress(function(e) {
                  var code = e.keyCode || e.which;
                  if (code == 13) {
                    if (use_message_turn && get_message_turn() === 'canvas') {
                      alert('please wait for the canvas...');
                    } else {
                      var text = $('#textInput').val();
                      var now = new Date(Date.now());
                      var t = now.getHours() + ":" + now.getMinutes() + ":" + now.getSeconds();
                      $('#textInput').val("");
                      socket.emit('text', {msg: text, t: t});
                    }
                    // socket.emit('bot', {msg:text, t:t});
                  }
            });
            $('#textInput1').keypress(function(e) {
                var code = e.keyCode || e.which;
                if (code == 13) {
                    var text = $('#textInput1').val();
                    var now = new Date(Date.now());
                    var t = now.getHours() + ":" + now.getMinutes() + ":" + now.getSeconds();
                    $('#textInput1').val("");
                    $('#textInput1').timedDisable(3);
                    socket.emit('text', {msg:text, t:t});
                }
            });
            $('#search').click(function() {
              $('#progressbar1').show();
              $("#result").empty();
              $("#rcount").empty();
              <!--$("#rcount1").empty();-->
              $("#more").empty();
              $("#post-search").hide();
              $("#pre-search").show();
            });

        });
        function left_room() {
            socket.emit('text', {msg:"#END"});
        }
        function end_task() {
          window.location.href = "{{ url_for('main.end') }}";
            <!--socket.emit('left', {}, function() {-->
                <!--socket.disconnect();-->
                <!--window.location.href = "{{ url_for('main.end') }}";-->
            <!--});-->
        }
    </script>

    <script type=text/javascript>
      var searchreq;
      $(function() {
        $('#search').bind('click', function() {
          var mbeds = [];
          $('#beds :selected').each(function(i, selected){
            mbeds[i] = $(selected).val();
          });
          searchreq = $.getJSON('/_lookup', {
            price_low: $('#price_low').val(),
            price_high: $('#price_high').val(),
            baths: $('#baths').val(),
            beds: mbeds,
            neighborhood: $('#neighborhood').val(),
            <!--transport: $('#transport').val(),-->
            <!--amenity: $('#amenity').val(),-->
            borough: $('#borough').val(),
            year_low: $('#year_low').val(),
            year_high: $('#year_high').val()
          }, function(data) {
            $("#result").html(data.result);
            $("#rcount").html(data.count);
            <!--$("#rcount1").html(data.count1);-->
            $("#more").html(data.more);
            $.ajax({
                success: function(){
                    $("#progressbar1").hide();
                    $("#progressbar2").hide();
                    $("#pre-search").hide();
                    $("#post-search").show();
                    copyFull();
                    copyPhone();
                }
            });
          });
          return false;
        });
      });
    </script>

    <script>
        function clearForm(form) {
            var $f = $(form);
            // $('selected').material_select();
            var answer  = document.getElementById("copyAnswer");
            if(answer != null) {
              answer.innerHTML = '';
            }
            var $f = $f.find(':input').not(':button, :submit, :reset, :hidden');
            $f.val('').attr('value','').removeAttr('checked').removeAttr('selected');
            $('select').material_select();

            var mts_attrs = document.getElementById("domain_form").getElementsByTagName("span");
            for (var i = 0; i < mts_attrs.length; i++) {
                //omitting undefined null check for brevity
                if (mts_attrs[i].id.lastIndexOf('mts_', 0) === 0) {
                    mts_attrs[i].innerHTML = '';
                }
            }

            // $(':selected').each(function(i, selected){
            //   $(selected).val('').attr('value','').removeAttr('checked').removeAttr('selected');
            // });
            $(':selected').each(function(i, selected){
              $(selected).removeAttr('checked').removeAttr('selected');
            });
            $('select').material_select();
            searchreq.abort();
            $("#progressbar1").hide();
            $("#progressbar2").hide();
            $("#result").empty();
            $("#rcount").empty();
            <!--$("#rcount1").empty();-->
            $("#more").empty();
            $("#post-search").hide();
            $("#pre-search").show();
        }
    </script>

    <!-- MTS get begin -->
    <script type=text/javascript>
      $(function() {
        $('#mts_get').bind('click', function() {
          var mbeds = [];
          $("#progressbar2").show();
          $('#beds :selected').each(function(i, selected){
            mbeds[i] = $(selected).val();
          });
          searchreq = $.getJSON('/woz/mts/get', {}, function(data) {
            $("#user_utterance").html(data.user_utterance);
            $("#mts_response").html(data.mts_utterance);
            $("#mts_price_low").html(data.price_low);
            $("#price_high").html(data.price_high);
            $("#mts_beds").html(data.beds);
            $("#mts_baths").html(data.baths);
            $("#mts_neighborhood").html(data.neighborhood);
            <!-- $('#neighborhood').val(data.neighborhood); -->
            $("#mts_borough").html(data.borough);
            <!--$("#mts_transport").html(data.transport);-->
            <!--$("#mts_amenity").html(data.amenity);-->
            $("#mts_year_low").html(data.year_low);
            $("#mts_year_high").html(data.year_high);
            $.ajax({
                success: function(){
                    $("#progressbar2").hide();
                    $("#pre-search").hide();
                    searchreq = $.getJSON('/_lookup', {
                      price_low: $('#mts_price_low').val(),
                      price_high: $('#mts_price_high').val(),
                      baths: $('#mts_baths').val(),
                      beds: $("#mts_beds").val(),
                      neighborhood: $('#mts_neighborhood').val(),
                      <!--transport: $('#mts_transport').val(),-->
                      <!--amenity: $('#mts_amenity').val(),-->
                      borough: $('#mts_borough').val(),
                      year_low: $('#mts_year_low').val(),
                      year_high: $('#mts_year_high').val()
                    }, function(data) {
                      $("#result").html(data.result);
                      $("#rcount").html(data.count);
                      <!--$("#rcount1").html(data.count1);-->
                      $("#more").html(data.more);
                      $.ajax({
                          success: function(){
                              $("#progressbar1").hide();
                              $("#progressbar2").hide();
                              $("#pre-search").hide();
                              $("#post-search").show();
                              copyFull();
                              copyPhone();
                          }
                      });
                    });
                }
            });
          });
          return false;
        });
      });
    </script>
    <!-- MTS get end -->
    <!-- MTS post begin -->
    <script type=text/javascript>
      $(function() {
        $('#mts_post').bind('click', function() {
          $("#progressbar2").show();
          var mbeds = [];
          $('#beds :selected').each(function(i, selected){
            mbeds[i] = $(selected).val();
          });
          searchreq = $.getJSON('/woz/mts/post', {
            price_low: $('#price_low').val(),
            price_high: $('#price_high').val(),
            baths: $('#baths').val(),
            beds: mbeds,
            neighborhood: $('#neighborhood').val(),
            borough: $('#borough').val(),
            <!--transport: $('#transport').val(),-->
            <!--amenity: $('#amenity').val(),-->
            year_low: $('#year_low').val(),
            year_high: $('#year_high').val()
          }, function(data) {
            $("#mts_response").html(data.mts_utterance);
            $("#mts_price_low").html(data.price_low);
            $("#mts_price_high").html(data.price_high);
            $("#mts_beds").html(data.beds);
            $("#mts_baths").html(data.baths);
            $("#mts_neighborhood").html(data.neighborhood);
            $("#mts_borough").html(data.borough);
            <!--$("#mts_transport").html(data.transport);-->
            $("#mts_year_low").html(data.year_low);
            $("#mts_year_high").html(data.year_high);
            $.ajax({
                success: function(){
                    $("#progressbar2").hide();
                }
            });
          });
          return false;
        });
      });
    </script>
    <!-- MTS post end -->
  </head>

  <body>
    <div id="contentParent" class="responsive-columns-wrapper">
      {% if mode !='test' %}
          <div id="chat-column-holder" class="responsive-column content-column">
          {% if role == "agent" %}
            <div class="bg-header teal lighten-5">
          {%  else %}
            <div class="bg-header blue lighten-5">
          {% endif %}
              Welcome
              <b>{{username}}</b>! You will play the role of <b>{{role}}</b> in <b>{{mode}}</b>. <b>Now chat!</b>
              <div>
                Click <button class="btn red lighten-1" id="end_task" href="#" onclick="end_task();" value="">submit</button> when the task is completed.
              </div>
            </div>
          <div class="chat-column">
            <div id="scrollingChat"></div>
              {% if role == "user" %}
                  <div class="input-field inputOutline">
                      <i class="material-icons prefix">textsms</i>
                      <input id="textInput" placeholder="Type instruction here... (Press Enter to submit)"></input>
                  </div>
              {% elif role == "agent" %}
                  <div class="input-field inputOutline">
                      <i class="material-icons prefix">textsms</i>
                      <input id="textInput" placeholder="Ask clarifying question here... (Press Enter to submit)"></input>
                  </div>
                  <div class="input-field">
                      <button class="btn red lighten-1" id="submit_canvas" href="#" value="">
                          submit canvas
                      </button>
                  </div>
              {% endif %}

{#          <div><span>waiting for </span><span id="message_turn">instruction</span><span>...</span></div>#}
{#            <div class="blue-text lighten-1"><b>Type to continue or click <button id="left_room" href="#" onclick="left_room();" value="">here</button> to end the conversation. </b></div>#}
          </div>
        </div>
          {% if role == "agent" %}
              <div><p>Drag and draw in the canvas:</p>
                  <div id="bbox_annotator"></div>
              </div>
          {% endif %}
          {% if role == "user" %}
              <div><p>coco image with annotation:</p>
                  <canvas id="coco_image_anno"></canvas>
              </div>
          {% endif %}
      {% endif %}

      <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="{{ url_for('static', filename='js/bbox_annotator.js') }}"></script>

      <script src="{{url_for('static', filename='js/common.js')}}"></script>
      <script src="{{url_for('static', filename='js/api.js')}}"></script>
      <script src="{{url_for('static', filename='js/conversation.js')}}"></script>
      <script src="{{url_for('static', filename='js/payload.js')}}"></script>
      <script src="{{url_for('static', filename='js/global.js')}}"></script>

      <script src="{{url_for('static', filename='js/jquery.titlealert.js')}}"></script>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.10.4/typeahead.bundle.min.js"></script>

      <script src="{{url_for('static', filename='js/materialize-tags.min.js')}}"></script>
      <script src="{{url_for('static', filename='js/app.js')}}" type="text/javascript"></script>
      <script src="{{url_for('static', filename='js/init.js')}}" type="text/javascript"></script>
      <script src="{{url_for('static', filename='js/cp.js')}}" type="text/javascript"></script>

{#      <script>document.getElementById("user_utterance").disabled = true;</script>#}

        {% if role == "agent" %}
            <script>
              $(document).ready(function () {
                var canvas = document.createElement('canvas');
                canvas.setAttribute("id", "scratch");
                canvas.setAttribute("width", "600");
                canvas.setAttribute("height", "500");
                canvas.setAttribute("style", "border:3px solid #d3d3d3;");
                var ctx = canvas.getContext("2d");
                ctx.lineWidth = 4;
                ctx.setLineDash([5, 3]);
                ctx.strokeStyle = "gray";
                ctx.strokeRect(0, 0, canvas.width, canvas.height);
                var annotator = new BBoxAnnotator({
                  url: canvas.toDataURL("image/png"),
                  input_method: "text",
                  labels: ["person", "bicycle", "car", "motorbike", "aeroplane", "bus", "train", "truck", "boat", "traffic light", "fire hydrant", "stop sign", "parking meter", "bench", "bird", "cat", "dog", "horse", "sheep", "cow", "elephant", "bear", "zebra", "giraffe", "backpack", "umbrella", "handbag", "tie", "suitcase", "frisbee", "skis", "snowboard", "sports ball", "kite", "baseball bat", "baseball glove", "skateboard", "surfboard", "tennis racket", "bottle", "wine glass", "cup", "fork", "knife", "spoon", "bowl", "banana", "apple", "sandwich", "orange", "broccoli", "carrot", "hot dog", "pizza", "donut", "cake", "chair", "sofa", "pottedplant", "bed", "diningtable", "toilet", "tvmonitor", "laptop", "mouse", "remote", "keyboard", "cell phone", "microwave", "oven", "toaster", "sink", "refrigerator", "book", "clock", "vase", "scissors", "teddy bear", "hair drier", "toothbrush"],
                  onchange: function (annotation) {
                  }
                });
                $("#submit_canvas").click(function (e) {
                  if (use_message_turn && get_message_turn() === "instruction") {
                    alert("please wait for the instruction....");
                  } else {
                    if (annotator.entries.length == 0) {
                      alert("You haven't drawn anything!");
                    } else {
                      var now = new Date(Date.now());
                      var t = now.getHours() + ":" + now.getMinutes() + ":" + now.getSeconds();
                      var text = JSON.stringify(annotator.entries);
                      socket.emit('text', {msg: "#CANVAS-".concat(text), t: t});
                    }
                  }
                });

                socket.on('latest_canvas', function (data) {
                  if (annotator.entries.length > 0) {
                    annotator.clear_all();
                  }
                  canvas_data = JSON.parse(data['msg']);
                  canvas_data.forEach(function (entry) {
                    annotator.add_entry(entry);
                  });
{#                  var scrollingChat = document.querySelector('#scrollingChat');#}
{#                  scrollingChat.scrollTop = 1000000;#}
                });


              });

            </script>
        {% elif role == "user" %}
            <script>
              $(document).ready(function () {
                socket.on('coco_image_anno', function (data) {
                  var canvas = document.getElementById("coco_image_anno");
                  var ctx = canvas.getContext('2d');
                  var img = new Image();
                  if ('url' in data && 'boxes' in data) {
                      img.src = data['url'];
                      img.onload = function () {
                          //canvas.width = img.width;
                          canvas.width = 600;
                          var scale = canvas.width / img.width;
                          canvas.height = img.height * scale;
                          ctx.drawImage(img, 0, 0, canvas.width, canvas.height);
                          Common.drawCanvasData(ctx, JSON.parse(data['boxes']), scale);
                      };
                  } else {
                      alert("unable to load image based on taskid");
                  }
                });
              });
            </script>
        {% endif %}

      <script>
        $(document).ready(function () {
            $('select').material_select();
            $('select').change(function(){
                var newValuesArr = [],
                    select = $(this),
                    ul = select.prev();
                ul.children('li').toArray().forEach(function (li, i) {
                    if ($(li).hasClass('active')) {
                        newValuesArr.push(select.children('option').toArray()[i].value);
                    }
                });
                select.val(newValuesArr);
            });
          });
      </script>

      <script>
      $.fn.timedDisable = function(time) {
       if (time == null) {
         time = 5;
       }
       var seconds = Math.ceil(time); // Calculate the number of seconds
       return $(this).each(function() {
         $(this).attr('disabled', 'disabled');
         var disabledElem = $(this);
         var originalText = this.innerHTML; // Remember the original text content
        //  var originalText = "";
         // append the number of seconds to the text
         disabledElem.val('Please wait for ' + seconds + 's');
         disabledElem.text( originalText + ' (' + seconds + 's)');

         // do a set interval, using an interval of 1000 milliseconds
         //     and clear it after the number of seconds counts down to 0
         var interval = setInterval(function() {
           seconds = seconds - 1;
           // decrement the seconds and update the text
           disabledElem.val('Please wait for ' + seconds + 's');
           disabledElem.text( originalText + ' (' + seconds + 's)');
           if (seconds === 0) { // once seconds is 0...
             disabledElem.removeAttr('disabled')
               .text(originalText); //reset to original text
             disabledElem.val('');
             clearInterval(interval); // clear interval
           }
         }, 1000);
       });
     };
     $(function() {
       $('#textInput1').timedDisable(3); // disable input box for n seconds
     });
    //  document.getElementById("").disabled = true;
     $(function() {
       $('#end_task').timedDisable(10);
     });
      </script>

      <script>
        // disable back button
        history.pushState(null, null, document.URL);
        window.addEventListener('popstate', function () {
            history.pushState(null, null, document.URL);
        });
        // window.onbeforeunload = function() { return "Your work will be lost."; };
      </script>

      <script type='text/javascript'>
        function goodbye(e) {
            if(!e) e = window.event;
            //e.cancelBubble is supported by IE - this will kill the bubbling process.
            e.cancelBubble = true;
            e.returnValue = 'You sure you want to leave?'; //This is displayed on the dialog

            //e.stopPropagation works in Firefox.
            if (e.stopPropagation) {
                e.stopPropagation();
                e.preventDefault();
            }
        }
        window.onbeforeunload=goodbye;
      </script>

      <script>
        var textarea = document.getElementById("mts_response");
        var answer  = document.getElementById("copyAnswer");
        var copy    = document.getElementById("copyBlock");
        copy.addEventListener('click', function(e) {

           // Select some text (you could also create a range)
           textarea.select();

           // Use try & catch for unsupported browser
           try {

               // The important part (copy selected text)
               var ok = document.execCommand('copy');
               if (ok) answer.innerHTML = 'Copied!';
               else    answer.innerHTML = 'Unable to copy!';
           } catch (err) {
               answer.innerHTML = 'Unsupported Browser!';
           }
        });
      </script>
  </body>
  </html>
