<div id="payload-column" class="fixed-column content-column">
  <div class="card-panel white lighten-5">
    <div class="row">
      <b><u class="teal-text">Rental information</u></b>
    </div>
    <form class="col s12">
      {{ form.csrf_token }}
      {# {{ form.hidden_tag() }}#}
      <div class="row">
        <div class="input-field col s6">
          {{ form.price_low(class_="validate", placeholder="from: e.g., 2800") }}
          <label for="price_low">Low Price</label>
        </div>
        <div class="input-field col s6">
          {{ form.price_high(class_="validate", placeholder="to: e.g., 3800")}}
          <label for="price_high">High Price</label>
        </div>
        <div class="input-field col s6">
          {{ form.beds()}}
          <label for="beds">Number of bedrooms</label>
        </div>
        <div class="input-field col s6">
          {{ form.baths()}}
          <label for="baths">Number of bathrooms</label>
        </div>
        <div class="col s12">
          <label for="neighborhood">Choose your neighborhood</label>
          <section id="neighborhood-typeahead" class="example">
            {{ form.neighborhood(class_="typehead-input")}}
          </section>
        </div>
        <div class="col s12">
          <label for="transport">Choose your transportation (subway and railway)</label>
          <section id="transport-typeahead" class="example">
              {{ form.transport(class_="typehead-input")}}
          </section>
          {{ form.submit(class_="btn") }}
          <button id="reset" class="btn" value="Reset">Reset</button>
          <div class="progress" id="progressbar1">
            <div class="indeterminate"></div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <ul class="collapsible collapsible-accordion disable-color" data-collapsible="accordion" id="pre-search">
    <li>
      <div class="collapsible-header tooltipped" data-position="top" data-delay="50"
      data-tooltip="detailed information about apartments">
         <i class="material-icons">view_list</i>Show search results
      </div>
    </li>
    <li>
      <div class="collapsible-header tooltipped" data-position="bottom" data-delay="50"
      data-tooltip="information for recommendating when there are too many/few results">
        <i class="material-icons">info_outline</i>Show more information</div>
    </li>
  </ul>
  <ul class="collapsible collapsible-accordion noshow" data-collapsible="accordion" id="post-search">
      <li>
        <div class="collapsible-header active">
           <span class="badge" data-badge-caption="results" id="rcount"></span>
           <i class="material-icons">view_list</i></span>
           <span class="teal-text teal-darken-2">Show search results</span></div>
         <div class="collapsible-body"><div id='result'></div></div>
      </li>
      <li>
        <div class="collapsible-header">
          <span class="badge" data-badge-caption="results" id="rcount1"></span>
          <i class="material-icons">info_outline</i>
          <span class="teal-text teal-darken-2">Show more information</span></div>
        <div class="collapsible-body"><span><div id='more'></div></span></div>
      </li>
    </ul>
</div>
