<html>
<head>
    <title>Quiz</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css" rel="stylesheet">
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <!-- <link href="{{url_for('static', filename='css/materialize.css')}}" type="text/css" rel="stylesheet"> -->
    <link href="http://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="//cdn.transifex.com/live.js"></script>
</head>
<body>
<div class="container">
    <h5>Welcome <b>{{ username }}</b>! Please answer the two questsions based on the chat history in the image. </h5>

    <form method="POST">
      {{ form_test.hidden_tag() }}
      <div class="row">
        <div class="col s9"><div class="card"><div class="card-image"><img src={{form_test.r1data[0]}}></img></div></div></div>
      </div>
      <ol class="collection">
        <li>
          <b class="teal-text">{{ form_test.r1.description }}</b>
          {{ form_test.r1 }}

          <!-- <ul>
                {% for subfield in form_test.r1 %}
                    <li>{{ subfield }} {{ subfield.label }}</li>
                    <li><img class="col s6" src={{form_test.r1data[loop.index]}}</img></li>
                {% endfor %}
              </ul> -->
          </li>
        <li>
          <b class="teal-text">{{ form_test.r2.description }}</b>
          {{ form_test.r2 }}
        </li>
      </ol>
      <div>{{ form_test.submit(class_="btn btn-primary") }}</div>
    </form>

</div>
</body>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script>if (!window.jQuery) {
  document.write('<script src="bin/jquery-2.1.1.min.js"><\/script>');
}
</script>
<script src={{url_for('static', filename='js/materialize.js' )}}></script>

</html>
