<html>
  <head>
    <base href="/">
    <title>Chat as {{role_name}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="http://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{url_for('static', filename='css/app.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>


    <script type="text/javascript" charset="utf-8">
        var use_message_turn = false;
        function set_message_turn(role) {
            var message_turn = document.getElementById('message_turn');
              if (role == 'agent')
                message_turn.innerHTML = 'instruction';
              else
                message_turn.innerHTML = 'canvas';
        }
        function get_message_turn() {
          var message_turn = document.getElementById('message_turn');
          return message_turn.innerHTML;
        }
        var socket;
        var contributed = false;
        $(document).ready(function(){
            socket = io('http://' + document.domain + ':' + location.port + '/chat', {
              'forceNew':true,
              'reconnection': true,
              'reconnectionDelay': 100,
              'reconnectionDelayMax' : 5000,
              'reconnectionAttempts': Infinity,
              'transports': ['websocket']
            });
            socket.on('reconnect_attempt', () => {
              socket.io.opts.transports = ['polling', 'websocket'];
            });
            socket.on('connect', function(data) {
              socket.emit('joined', {});
            });
            socket.on('status', function(data) {
              if (use_message_turn) {
                set_message_turn(data.role);
              }
              Api.sendRequest(data.msg, data.role, data.mode);
            });
            socket.on('message', function(data) {
                if (data.role != "{{role}}") {
                  $.titleAlert("📈 New Message from " + data.role + '!', { requireBlur:false, stopOnFocus:true, duration:0, interval:500 });
                }
                if (use_message_turn) {
                  set_message_turn(data.role);
                }
                if (!contributed) {
                  if (data.role == "user")
                    contributed = true;
                  //if (data.role == "agent" && data.msg.includes("#CANVAS-"))
                  if (data.role == "agent")
                    contributed = true;
                }
                Api.sendRequest(data.msg, data.role, data.mode);

            });
            socket.on('left', function(data) {
                socket.emit('left', {});
            });

            $('#textInput').keypress(function(e) {
                  var code = e.keyCode || e.which;
                  if (code == 13) {
                    if (use_message_turn && get_message_turn() === 'canvas') {
                      alert('please wait for the canvas...');
                    } else {
                      var text = $('#textInput').val();
                      var da = $('#da').val();
                      // if (text.split(" ").length < 4) {
                      //     alert("Your input is too brief. Please provide something informative. Thank you!")
                      //     return;
                      // }
                      var now = new Date(Date.now());
                      var t = now.getHours() + ":" + now.getMinutes() + ":" + now.getSeconds();
                      $('#textInput').val("");
                      // $('#textInput').timedDisable(3);
                      socket.emit('text', {msg: text, da:da, t: t});
                    }
                    // socket.emit('bot', {msg:text, t:t});
                  }
            });
        });

        var task_end_signalled = false;

        function next_task() {
          if ($("#textInput").attr("placeholder") === "DONE - the drawing has completed"){
            if (!task_end_signalled) {
              var now = new Date(Date.now());
              var t = now.getHours() + ":" + now.getMinutes() + ":" + now.getSeconds();
              socket.emit('text', {msg: "#END", t: t});
              task_end_signalled = true;
            }
            window.location.href = "{{ url_for('main.chat') }}";
          } else if ($("#textInput").attr("placeholder") === "DONE - the drawing has completed by the painter") {
              window.location.href = "{{ url_for('main.chat') }}";
          } else {
              if (contributed) {
                window.location.href = "{{ url_for('main.chat') }}";
              } else {
                if ("{{role}}" === "agent")
                  alert("please contribute at least one drawing");
                if ("{{role}}" === "user")
                  alert("please contribute at least one instruction");
              }
          }
            // socket.emit('end_task', {msg:"#END"});
            // window.location.href = "{{ url_for('main.chat') }}";
        };

        function end_task() {
          if ($("#textInput").attr("placeholder") === "DONE - the drawing has completed"){
            if (!task_end_signalled) {
              var now = new Date(Date.now());
              var t = now.getHours() + ":" + now.getMinutes() + ":" + now.getSeconds();
              socket.emit('text', {msg: "#END", t: t});
              task_end_signalled = true;
            }
            window.location.href = "{{ url_for('main.end') }}";
          } else if ($("#textInput").attr("placeholder") === "DONE - the drawing has completed by the painter") {
              window.location.href = "{{ url_for('main.end') }}";
          } else {
              if (contributed) {
                window.location.href = "{{ url_for('main.end') }}";
              } else {
                if ("{{role}}" === "agent")
                  alert("please contribute at least one drawing");
                if ("{{role}}" === "user")
                  alert("please contribute at least one instruction");
              }
          }
            // <!--socket.emit('left', {}, function() {-->
            //     <!--socket.disconnect();-->
            //     <!--window.location.href = "{{ url_for('main.end') }}";-->
            // <!--});-->
        }
    </script>

  </head>

  <body>
  {% if role == "agent" %}
    <div class="container bg-header teal black-text">
      <nav class="grey">
      <span class="teal black-text badge">
  {%  else %}
    <div class="container bg-header blue darken-3 black-text">
      <nav class="grey">
      <span class="blue darken-3 black-text badge">
  {% endif %}

    <b>{{role_name.upper()}} VIEW </b></span> User <b>{{username}}</b> now plays the role of <b>{{role_name}}</b> on <b>{{mode}}</b> {{progress}}. </span>
    <span>
    {% if tasks == [] %}
        {% if role == "agent" %}
          Click <button class="btn teal" id="end_task" href="#" onclick="end_task();" value="">SUBMIT</button> when the task is completed.
        {% else %}
          Click <button class="btn blue darken-3" id="end_task" href="#" onclick="end_task();" value="">SUBMIT</button> when the task is completed.
        {% endif %}
    {% else %}
        Click <button class="btn red lighten-1" id="end_task" href="#" onclick="next_task();" value="">Next Task</button> when the task is completed.
    {% endif %}
    </span>
  </nav>
  </div>
    <div id="contentParent" class="container responsive-columns-wrapper white black-text">
      <div><p></p></div>
      {% if role == "agent" %}
        <div class="center-align">
            <nav class="grey "><b>Canvas for Layout Drawing</b></nav>
            <div id="bbox_annotator"></div>
            {% if mode == 'COCO' %}
            <div class="fa fa-times-circle red-text"> : Delete </div>
            <div class="fa fa-plus-circle red-text"> : Move</div>
            <div class="fa red-text"> &#8689; &#8690; : Resize </div>
            {% endif %}
            <button class="btn teal left-align" id="submit_canvas" href="#" value="">submit canvas</button>
        </div>
      {% endif %}
      {% if role == "user" %}
              <div class="center-align black-text"><p><b>Image Layout Reference</b></p>
                  <canvas id="coco_image_anno"></canvas>
              </div>
      {% endif %}
      {% if mode !='test' %}
          <div id="chat-column-holder" class="responsive-column content-column">
              <nav class="center white black-text"><b>Chat History - Interactive Drawing</b></nav>
              <div class="chat-column white">
              <div id="scrollingChat"></div>
              <!-- <div class="input-field inputOutline">
                  <i class="material-icons prefix red-text">textsms</i>
                  <div id="da" ></div>
                  <input id="textInput" type="text" placeholder="Type here... (Press Enter to submit)"></input>
              </div> -->
                {% if mode == 'COCO' %}
                    <button class="btn red lighten-1" id="finish_drawing" href="#" value="">drawing completed</button>
                {% endif %}
                <!-- <div class="input-field">
                     <button class="btn teal lighten-1" id="submit_canvas" href="#" value="">
                         submit canvas
                     </button>
                 </div> -->
              </div>
              <div class="row">
                <div class="col s12">
                  <div class="row">
                    <div class="input-field col s4">
                      <i class="material-icons red-text">label</i>
                      {{ form_da.da(class_="") }}
                    </div>
                    <div class="input-field col s8">
                      <i class="material-icons red-text prefix">textsms</i>
                      <input type="text" id="textInput" mode={{mode}} class="left-align">
                      <label for="textInput">Type here... (Press Enter to submit)</label>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      {% endif %}

      <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
      {% if mode == '2Dshape' %}
      <script src="{{ url_for('static', filename='js/bbox_annotator_2Dshape.js') }}"></script>
      {% else %}
      <script src="{{ url_for('static', filename='js/bbox_annotator_coco.js') }}"></script>
      {% endif %}
      <script src="{{url_for('static', filename='js/common.js')}}"></script>
      <script src="{{url_for('static', filename='js/api.js')}}"></script>
      <script src="{{url_for('static', filename='js/conversation.js')}}"></script>
      <script src="{{url_for('static', filename='js/payload.js')}}"></script>
      <script src="{{url_for('static', filename='js/global.js')}}"></script>

      <script src="{{url_for('static', filename='js/jquery.titlealert.js')}}"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.10.4/typeahead.bundle.min.js"></script>

      <script src="{{url_for('static', filename='js/materialize.min.js')}}"></script>
      <script src="{{url_for('static', filename='js/app.js')}}" type="text/javascript"></script>
        <script>
            function shape_layout_match(gt_layout, current_layout) {
              for (var i = 0; i < gt_layout.length; ++i) {
                var matched = false;
                for (var j = 0; j < current_layout.length; ++j) {
                  var a = current_layout[i];
                  var b = gt_layout[j];
                  if (a['left'] === b['left'] && a['top'] === b['top']
                      && a['width'] === b['width'] && a['height'] === b['height']
                      && a['shape'] === b['shape'] && a['label'] === b['label']) {
                    matched = true;
                  }
                }
                if (!matched)
                  return false;
              }
              return true;
            }
        </script>
        {% if role == "agent" %}
            <script>
              $(document).ready(function () {
                var canvas = document.createElement('canvas');
                canvas.setAttribute("id", "scratch");
                var textInput = document.getElementById("textInput");
                if (textInput.getAttribute("mode") === '2Dshape') {
                    canvas.setAttribute("width", "500");
                } else {
                    canvas.setAttribute("width", "600");
                }
                canvas.setAttribute("height", "500");
                canvas.setAttribute("style", "border:3px solid #d3d3d3;");
                var ctx = canvas.getContext("2d");
                ctx.lineWidth = 4;
                ctx.setLineDash([5, 3]);
                ctx.strokeStyle = "gray";
                ctx.strokeRect(0, 0, canvas.width, canvas.height);
                var annotator = new BBoxAnnotator({
                  url: canvas.toDataURL("image/png"),
                  input_method: "select",
                  onchange: function (annotation) {
                  }
                });
                var latest_canvas_data;
                $("#submit_canvas").click(function (e) {
                  if (use_message_turn && get_message_turn() === "instruction") {
                    alert("please wait for the instruction....");
                  } else {
                    if (annotator.entries.length == 0 || JSON.stringify(latest_canvas_data) === JSON.stringify(annotator.entries)) {
                      alert("You didn't draw anything!");
                    } else {
                      var now = new Date(Date.now());
                      var t = now.getHours() + ":" + now.getMinutes() + ":" + now.getSeconds();
                      var text = JSON.stringify(annotator.entries);
                      var da = $('#da').val();
                      socket.emit('text', {msg: "#CANVAS-".concat(text), t: t, da:da});
                      // this.disabled = true;
                      // document.getElementById("textInput").setAttribute("placeholder", "DONE");
                      // document.getElementById("textInput").disabled = true;
                    }
                  }
                });

                // in case of multiple painters in the same room
                // update painters canvas if other painters draw something
                socket.on('latest_canvas', function (data) {
                  if (annotator.entries.length > 0) {
                    annotator.clear_all();
                  }
                  canvas_data = JSON.parse(data['msg']);
                  canvas_data.forEach(function (entry) {
                    annotator.add_entry(entry);
                  });
                  latest_canvas_data = annotator.entries.slice(0);
                  var textInput = document.getElementById("textInput");
                  if (textInput.getAttribute("mode") === '2Dshape') {
                      var gt_layout = JSON.parse(textInput.getAttribute('data'));
                      if (shape_layout_match(gt_layout, canvas_data)) {
                          // painter's view on 2Dshape task
                          // document.getElementById("textInput").setAttribute("placeholder", "DONE - the drawing has completed");
                          // document.getElementById("textInput").disabled = true;
                          // $("#submit_canvas").hide();
                      }
                  }
                });

                socket.on('coco_image_labels', function (data) {
                  annotator.update_labels(JSON.parse(data['labels']));
                });

                socket.on('2d_shape_anno', function (data) {
                  //  the painter use the data attribute to retrieve groundtruth layout
                  var textInput = document.getElementById("textInput");
                  textInput.setAttribute("data", data['boxes']);
                });

              });

            </script>
        {% elif role == "user" %}
            <script>
              $(document).ready(function () {

                socket.on('coco_image_anno', function (data) {
                  if (!data['boxes']) {
                    alert("cannot find annotation entry based on provided task id")
                  }
                  var canvas = document.getElementById("coco_image_anno");
                  canvas.setAttribute("data", data['boxes']);
                  var labels = [];
                  JSON.parse(data['boxes']).forEach(function (t) { labels.push(t['label']); });
                  document.getElementById("finish_drawing").setAttribute("missing", labels.toString());
                  var ctx = canvas.getContext('2d');
                  var img = new Image();
                  if ('url' in data && 'boxes' in data) {
                      img.src = data['url'];
                      img.onload = function () {
                          //canvas.width = img.width;
                          canvas.width = 500;
                          var scale = canvas.width / img.width;
                          canvas.height = img.height * scale;
                          ctx.drawImage(img, 0, 0, canvas.width, canvas.height);
                          Common.drawCanvasDataCOCO(ctx, JSON.parse(data['boxes']), scale);
                      };
                  } else {
                      alert("unable to load image based on taskid");
                  }
                });

                socket.on('2d_shape_anno', function (data) {
                  if (!data['boxes']) {
                    alert("cannot find annotation entry based on provided task id")
                  }
                  var canvas = document.getElementById("coco_image_anno");
                  canvas.setAttribute("data", data['boxes']);
                  var labels = [];
                  JSON.parse(data['boxes']).forEach(function (t) { labels.push(t['label'] + ' ' + t['shape']); });
                  var scale = 1.0;
                  var canvas_width = 500;
                  var canvas_height = 500;
                  canvas.setAttribute("width", (canvas_width * scale).toString());
                  canvas.setAttribute("height", (canvas_height * scale).toString());
                  canvas.setAttribute("style", "border:3px solid #d3d3d3;");
                  var ctx = canvas.getContext("2d");
                  Common.drawCanvasData(ctx, JSON.parse(data['boxes']), scale);
                });
              });
            </script>

            {% if mode == '2Dshape' %}
                <script>
                     $(document).ready(function () {
                         socket.on('latest_canvas', function (data) {
                             var canvas = document.getElementById("coco_image_anno");
                             var gt_layout = JSON.parse(canvas.getAttribute('data'));
                             var current_layout = JSON.parse(data['msg']);
                             if (shape_layout_match(gt_layout, current_layout)) {
                                 // instructor's view on 2Dshape task
                                 document.getElementById("textInput").setAttribute("placeholder", "DONE - the drawing has completed by painter");
                                 // document.getElementById("textInput").disabled = true;
                             }
                         });
                     });
                </script>
            {% else %}
                <script>
                     $(document).ready(function () {
                         // finish_drawing button is enabled only when there are some drawings
                         // document.getElementById("finish_drawing").disabled = true;
                         socket.on('latest_canvas', function (data) {
                             var canvas = document.getElementById("coco_image_anno");
                             var canvas_data = JSON.parse(canvas.getAttribute('data'));
                             var gt_labels = {};
                             var labels = {};
                             canvas_data.forEach(function (t) {
                                 var label = t['label'];
                                 labels[label] = 0;
                                 if (label in gt_labels) {
                                     gt_labels[label] += 1;
                                 } else {
                                     gt_labels[label] = 1;
                                 }
                             });

                             JSON.parse(data['msg']).forEach(function (t) {
                                 labels[t['label']] += 1;
                             });
                             var missing = [];
                             for (var key in labels) {
                                 if (labels.hasOwnProperty(key)) {
                                     if (gt_labels[key] !== labels[key]) {
                                         missing.push(key);
                                     }
                                 }
                             }
                             document.getElementById("finish_drawing").setAttribute("missing", missing.toString());
                         });

                         $("#finish_drawing").click(function (e) {
                             var missing = ($("#finish_drawing")).attr("missing");
                             if (missing.length > 0) {
                                 alert("missing objects: " + missing);
                             } else {
                                 if (confirm('You sure the drawing has completed the layout, and there is no need for futher instructions?')) {
                                     var now = new Date(Date.now());
                                     var t = now.getHours() + ":" + now.getMinutes() + ":" + now.getSeconds();
                                     socket.emit('text', {msg: "#END", t: t});
                                     document.getElementById("textInput").setAttribute("placeholder", "DONE - the drawing has completed");
                                     document.getElementById("textInput").disabled = true;
                                     this.disabled = true;
                                 }
                             }
                         });

                     });
                </script>
            {% endif %}
        {% endif %}

      <script>
        $(document).ready(function () {
            $('select').material_select();
            $('select').change(function(){
                var newValuesArr = [],
                    select = $(this),
                    ul = select.prev();
                ul.children('li').toArray().forEach(function (li, i) {
                    if ($(li).hasClass('active')) {
                        newValuesArr.push(select.children('option').toArray()[i].value);
                    }
                });
                select.val(newValuesArr);
            });
          });
      </script>

      <script>
      $.fn.timedDisable = function(time) {
       if (time == null) {
         time = 5;
       }
       var seconds = Math.ceil(time); // Calculate the number of seconds
       return $(this).each(function() {
         $(this).attr('disabled', 'disabled');
         var disabledElem = $(this);
         var originalText = this.innerHTML; // Remember the original text content
         //  var originalText = "";
         // append the number of seconds to the text
         disabledElem.val('Please wait for ' + seconds + 's');
         disabledElem.text( originalText + ' (' + seconds + 's)');

         // do a set interval, using an interval of 1000 milliseconds
         //     and clear it after the number of seconds counts down to 0
         var interval = setInterval(function() {
           seconds = seconds - 1;
           // decrement the seconds and update the text
           disabledElem.val('Please wait for ' + seconds + 's');
           disabledElem.text( originalText + ' (' + seconds + 's)');
           if (seconds === 0) { // once seconds is 0...
             disabledElem.removeAttr('disabled')
               .text(originalText); //reset to original text
             disabledElem.val('');
             clearInterval(interval); // clear interval
           }
         }, 1000);
       });
     };
     $(function() {
       $('#textInput').timedDisable(3); // disable input box for n seconds
     });

     $(function() {
       $('#end_task').timedDisable(10);
     });
      </script>

      <script>
        // disable back button
        history.pushState(null, null, document.URL);
        window.addEventListener('popstate', function () {
            history.pushState(null, null, document.URL);
        });
        // window.onbeforeunload = function() { return "Your work will be lost."; };
      </script>

      <script type='text/javascript'>
        function goodbye(e) {
            if(!e) e = window.event;
            //e.cancelBubble is supported by IE - this will kill the bubbling process.
            e.cancelBubble = true;
            e.returnValue = 'You sure you want to leave?'; //This is displayed on the dialog

            //e.stopPropagation works in Firefox.
            if (e.stopPropagation) {
                e.stopPropagation();
                e.preventDefault();
            }
        }
        window.onbeforeunload=goodbye;
      </script>

      <script>
        var textarea = document.getElementById("mts_response");
        var answer  = document.getElementById("copyAnswer");
        var copy    = document.getElementById("copyBlock");
        copy.addEventListener('click', function(e) {

           // Select some text (you could also create a range)
           textarea.select();

           // Use try & catch for unsupported browser
           try {

               // The important part (copy selected text)
               var ok = document.execCommand('copy');
               if (ok) answer.innerHTML = 'Copied!';
               else    answer.innerHTML = 'Unable to copy!';
           } catch (err) {
               answer.innerHTML = 'Unsupported Browser!';
           }
        });
      </script>
  </body>
  </html>
